<% @rows.each do |row| %>
  <p class="tinfo"><%= row['name'] %> INTERESTS:<%= row['interests'] %> Gender:<%= row['gender'] %></p>
  <p class="moreinfo"><%= row['description'] %> Age:<%= row['age'] %></p>
<% end %>

<!--
<% 5000.times do %>
  <hr>
  <% end %>
  -->